.btn-toogle {
  background-color: transparent;
  border: none;
  font-size: 42px;
  margin-left: 3px;
  cursor: pointer;
}
.btn-toogle:focus:hover {
  color: var(--back-red);
}
.btn-sm {
  padding: 13px 45px;
  cursor: pointer;
  background: transparent;
  transition: all 0.9s;
}
.btn-outline {
  border-radius: 50px;
  border: 1px solid #f53855;
  color: #f53855;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}
.btn-outline:hover {
  background: var(--back-red);
  color: var(--white);
}
.btn-link {
  color: #0b132a;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  border: none;
}
.btn-link:hover {
  text-decoration: underline;
  color: var(--back-red);
}

/* hero btn */

.btn-lg {
  padding: 17.5px 77.5px;
  border-radius: 50px;
  background-color: transparent;
  border: 2px solid var(--back-red);
  transition: all 0.9s;
}
.btn-hero {
  background-color: var(--back-red);
  max-width: 250px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px; /* 156.25% */
}
.btn-hero:hover {
  background-color: transparent;
  color: var(--back-red);
  box-shadow: 10px 10px 10px 10px rgba(245, 56, 56, 0.35);
  backdrop-filter: blur(27px);
}
