.header-nav {
  padding: 25px 0px;
}
.navigation,
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  gap: 40px;
  list-style: none;
}
.nav-item {
}
.nav-link {
  color: #4f5665;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
}
.nav-list > .btn-group > a {
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 30px;

  color: #4f5665;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
}
.btn-toogle {
  display: none;
}

/* hero  */
.hero {
  padding: 125px 0px;
}
.hero-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;

  align-items: center;
}
.hero-main-left {
}
.hero-main__left-heading {
  color: #0b132a;
  margin-bottom: 20px;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px; /* 140% */
}
.hero-main__left-paragriph {
  margin-bottom: 50px;
  color: #4f5665;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.hero-main-right > img {
  width: 611px;
  height: 382px;
}

/* windows followers */
.follow-windows {
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  border: 2px solid #e6e6e6;
  border-radius: 10px;
  padding: 19px 61px;
  margin-bottom: 95px;
}
.follow__win-card {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  align-items: center;
  width: 100%;
  height: 125px;
  padding: 0px 40px;
}
.follow__win-card:not(:last-child) {
  border-right: 1px solid #e6e6e6;
}
.cricle {
  width: 75px;
  height: 75px;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffecec;
}

.cricle > img {
  width: 24px;
  height: 24px;
}
/* windows followers */
/* check menu */
.check-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 169px;
  align-items: center;
  margin-bottom: 131px;
}
.check-left {
  border: 1px solid #e7e7e7;
  width: 100%;
}
.check-menu > .check-left > img {
  width: 508px;
  height: 414px;
}

.check-heading {
  color: #0b132a;
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 50px; /* 142.857% */
}
.check-paragriph {
  color: #4f5665;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.check-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}

.check-items {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.check-items > p {
  color: #4f5665;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}
/* check menu */
